<div class="app">
    <!-- These sets their own grid items -->
    <login ng-if="$ctrl.views.current == 'login'"></login>
    <overview ng-if="$ctrl.views.current == 'overview'"></overview>
    <workflow ng-if="$ctrl.views.current == 'workflows'"></workflow>
    <user-dashboard ng-if="$ctrl.views.current == 'dashboard'"></user-dashboard>

    <modal
        show-path="'views.workflows.modals.finishConfirmation.show'"
        outside-click-path="'views.workflows.modals.finishConfirmation.dismissClicked'"
    >
        <finish-confirmation></finish-confirmation>
    </modal>

    <modal
        show-path="'search.modals.showAnalysesForAllele.show'"
        outside-click-path="'search.modals.showAnalysesForAllele.dismissClicked'"
    >
        <show-analyses-for-allele></show-analyses-for-allele>
    </modal>

    <modal
        show-path="'views.workflows.modals.reassignWorkflow.show'"
        outside-click-path="'views.workflows.modals.reassignWorkflow.dismissClicked'"
    >
        <reassign-workflow></reassign-workflow>
    </modal>

    <modal show-path="'views.workflows.modals.addExcludedAlleles.show'">
        <add-excluded-alleles></add-excluded-alleles>
    </modal>

    <modal show-path="'views.workflows.modals.genepanelOverview.show'">
        <genepanel-overview></genepanel-overview>
    </modal>
</div>
