<div>
    <h2 class="id-classification-name">
        {{ vm.getClassName() }} <span class="outdated" ng-if="vm.isOutdated()"> (Outdated)</span>
    </h2>
    <h5>
        made by {{ vm.alleleassessment.user.user_group_name }} ({{
            vm.alleleassessment.user.full_name
        }}) on {{ vm.alleleassessment.date_created | date: 'yyyy-MM-dd' }} for
        {{ vm.alleleassessment.genepanel_name }}_{{ vm.alleleassessment.genepanel_version }}
    </h5>
    <h5 ng-if="vm.allelereport">
        Report changed by {{ vm.allelereport.user.full_name }} on
        {{ vm.allelereport.date_created | date: 'yyyy-MM-dd HH:mm' }}
    </h5>
</div>

<div ng-if="!vm.summaryOnly">
    <h4 class="section-title">ACMG</h4>
    <acmg
        class="included disabled"
        code="code"
        ng-repeat="code in vm.alleleassessment.evaluation.acmg.included track by $index"
        comment-model="code.comment"
        editable="false"
    ></acmg>

    <div class="id-attachments">
        <h4 class="section-title acmg-body">Attachments</h4>
        <section class="attachment-wrapper">
            <attachment
                ng-repeat="attachment_id in vm.alleleassessment.attachment_ids"
                attachment="vm.attachments[attachment_id]"
                read-only="true"
            >
            </attachment>
        </section>
    </div>

    <div class="existing-classification-comments">
        <div class="tabular-row">
            <div class="cell top-align"><h5>Evaluation</h5></div>
            <div class="cell">
                <wysiwyg-editor
                    class="id-existing-comment-classification"
                    ng-disabled="true"
                    ng-model="vm.alleleassessment.evaluation.classification.comment"
                >
                </wysiwyg-editor>
            </div>
        </div>
        <div class="tabular-row">
            <div class="cell top-align"><h5>Frequency</h5></div>
            <div class="cell">
                <wysiwyg-editor
                    class="id-existing-comment-frequency"
                    ng-disabled="true"
                    ng-model="vm.alleleassessment.evaluation.frequency.comment"
                >
                </wysiwyg-editor>
            </div>
        </div>
        <div class="tabular-row">
            <div class="cell top-align"><h5>External DB</h5></div>
            <div class="cell">
                <wysiwyg-editor
                    class="id-existing-comment-external"
                    ng-disabled="true"
                    ng-model="vm.alleleassessment.evaluation.external.comment"
                >
                </wysiwyg-editor>
            </div>
        </div>
        <div class="tabular-row">
            <div class="cell top-align"><h5>Prediction</h5></div>
            <div class="cell">
                <wysiwyg-editor
                    class="id-existing-comment-prediction"
                    ng-disabled="true"
                    ng-model="vm.alleleassessment.evaluation.prediction.comment"
                >
                </wysiwyg-editor>
            </div>
        </div>
        <div class="tabular-row">
            <div class="cell top-align"><h5>Reference</h5></div>
            <div class="cell">
                <wysiwyg-editor
                    class="id-existing-comment-reference"
                    ng-disabled="true"
                    ng-model="vm.alleleassessment.evaluation.reference.comment"
                >
                </wysiwyg-editor>
            </div>
        </div>
    </div>
</div>
