<table>
    <tr ng-repeat="t in $ctrl.allele.annotation.filtered track by t.transcript">
        <td ng-if="$ctrl.genepanel && $ctrl.getGenepanelValues(t.symbol).inheritance !== ''">
            <h3 class="full-title">
                {{ $ctrl.genepanelValues[t.hgnc_id].inheritance }}
            </h3>
        </td>

        <td ng-if="$ctrl.genepanel">
            <h3 class="full-title">
                <div class="id-allelebar-gene allele_popup" isolate-click>
                    <span
                        class="clickable"
                        tippy-popover="genePopover.ngtmpl.html"
                        tippy-placement="bottom"
                        tippy-popover-title="GENE INFO"
                    >
                        {{ t.symbol }} ({{ t.exon }})
                    </span>
                    <span
                        tippy-title="Has gene information"
                        class="tag"
                        ng-if="$ctrl.hasGeneAssessment(t.hgnc_id)"
                        >INFO</span
                    >
                </div>
            </h3>
        </td>
        <td ng-if="!$ctrl.genepanel">
            <h3 class="full-title">
                <span> {{ t.symbol }} ({{ t.exon }}) </span>
            </h3>
        </td>

        <td>
            <h3 class="full-title">
                <div class="allele_popup" isolate-click>
                    <span
                        class="clickable"
                        item="t"
                        tippy-popover="cdnaPopover.ngtmpl.html"
                        tippy-placement="bottom"
                        tippy-popover-title="HGVSc"
                    >
                        <i>{{ t.transcript }}:</i
                        ><b>{{ t.HGVSc_short || $ctrl.allele.formatted.hgvsg }}</b>
                        {{ $ctrl.allele.formatted.genotype }}
                    </span>
                    <span ng-if="$ctrl.genotypeDisplay.length">
                        <span
                            class="genotype-display"
                            ng-repeat="gt in $ctrl.genotypeDisplay"
                            tippy-title="{{ gt.title }}"
                        >
                            <span ng-if="$ctrl.genotypeDisplay.length > 1"
                                >{{ gt.sample_label }}: </span
                            >{{ gt.display }}
                            <span
                                tippy-title="Homozygous"
                                class="tag red"
                                ng-if="gt.sample_label == 'P' && gt.type == 'Homozygous'"
                                >HOM</span
                            >
                            <span tippy-title="Multiallelic" class="tag" ng-if="gt.multiallelic"
                                >MUL</span
                            >
                        </span>
                    </span>
                </div>
            </h3>
        </td>

        <td>
            <h3 class="full-title">
                <div class="allele_popup" isolate-click>
                    <span
                        class="clickable"
                        tippy-popover="proteinPopover.ngtmpl.html"
                        tippy-placement="bottom"
                        tippy-popover-title="PROTEIN"
                    >
                        <i ng-if="t.HGVSp">{{ t.protein }}:</i><b>{{ t.HGVSp }}</b> ({{
                            $ctrl.formatCodons(t.codons)
                        }})
                    </span>
                </div>
            </h3>
        </td>

        <td>
            <h3 class="full-title">
                <div
                    tippy-popover="alleleInfoConsequencePopover.ngtmpl.html"
                    tippy-placement="bottom"
                    tippy-popover-title="CONSEQUENCE"
                >
                    <span class="clickable" ng-repeat="c in t.consequences">{{
                        c | noUnderscores
                    }}</span>
                </div>
            </h3>
        </td>

        <td>
            <h3 class="full-title">{{ $ctrl.allele.formatted.genomicPosition }}</h3>
        </td>
    </tr>
</table>
