// GENERIC ELEMENT STYLES

* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: $full;
    background-color: hsl(0, 0, 100);
    line-height: 1.42857143;
    color: #333;

    overflow: hidden;
}
.debug {
    font-size: 2em;
}
input {
    font-family: $slim;
    border: none;
    border-bottom: 1px solid $black-25;
    background-color: transparent;
    padding: 0.3rem;
    height: 2.6rem;
    font-size: 1.2rem;
    font-weight: 400;
    text-overflow: ellipsis;
    width: inherit;
    &:focus {
        border-bottom: 1px solid Transparent;
        box-shadow: 0px 0.3rem 0px $blue-50;
        outline: none;
        transition: all 0.3s ease-in-out;
    }
    &::placeholder {
        font-family: $full;
        -webkit-text-fill-color: $black-50;
        letter-spacing: 0.1rem;
        word-spacing: 0.2rem;
        font-weight: 500;
    }
    &.white {
        color: white;
        border-bottom: 1px solid rgba(255, 255, 0, 0.5);
        &::placeholder {
            color: rgba(255, 255, 0, 1);
        }
        &:focus {
            border-bottom: 1px solid white;
            box-shadow: 0px 1px 0px white;
            outline: none;
            transition: all 0.3s ease-in-out;
        }
    }
}
textarea,
.wysiwygeditor {
    font-size: 1.4rem;
    font-family: $slim;
    line-height: 2rem;
    padding: 0 0.3rem;
    width: 100%;
    min-height: 2.6rem;
    max-height: 50rem;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid $black-50;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    resize: vertical;
    &::placeholder {
        font-family: $full;
        font-size: 1.3rem;
        letter-spacing: 0.1rem;
        word-spacing: 0.2rem;
        font-weight: 500;
        line-height: 2rem;
        color: $black-40;
    }
}

// Avoid horizontal overflow of pasted images
.wysiwygeditor img {
    max-width: -webkit-fill-available;
    max-width: -moz-available;
    max-width: fill-available;
    height: auto;
}

textarea {
    &:focus {
        border-bottom: 1px solid Transparent;
        box-shadow: 0px 0.3rem 0px $blue-50;
        outline: none;
        transition: all 0.3s ease-in-out;
    }
}

.linebreak {
    white-space: pre;
}

.wysiwygeditor {
    &:focus[contenteditable='true'] {
        @extend textarea:focus;
    }
}

input[type='range'] {
    -webkit-appearance: none;
    &::-webkit-slider-runnable-track {
        width: 300px;
        height: 5px;
        background: $blue-50;
        border: solid 1px $black;
        border-radius: 3px;
    }
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: solid 1px $black;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: $blue-95;
        margin-top: -7px;
    }
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.inputerror {
    border-bottom: 3px solid $red-75 !important;
}
.error {
    color: $red !important;
}
.ok {
    color: $green !important;
}

// tippy
.tippy-tooltip.la-theme {
    background-color: $white-95;
    border: 1px solid $black-05;
    box-shadow: 0 0 20px 4px rgba(154, 161, 177, 0.15), 0 4px 80px -8px rgba(36, 40, 47, 0.25),
        0 4px 4px -2px rgba(91, 94, 105, 0.15);
    border-radius: 0;
    color: $black-95;
    font-family: $full;
    font-size: 1.4rem;

    &[data-placement^='top'] .tippy-arrow {
        border-top-color: $white-95;
    }
    &[data-placement^='bottom'] .tippy-arrow {
        border-bottom-color: $white-95;
    }
    &[data-placement^='left'] .tippy-arrow {
        border-left-color: $white-95;
    }
    &[data-placement^='right'] .tippy-arrow {
        border-right-color: $white-95;
    }
}

.copy-text {
    display: flex;
    cursor: pointer;
    align-items: center;
    &:hover {
        color: $black-75;
    }
    &:before {
        content: url('data:image/svg+xml; utf8, <svg id="i-clipboard" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M12 2 L12 6 20 6 20 2 12 2 Z M11 4 L6 4 6 30 26 30 26 4 21 4" /></svg>');
        padding-right: 0.5rem;
        margin-top: 0.5rem;
    }
}

.non-production-warning {
    position: fixed;
    bottom: calc(50vh - 28rem);
    width: 100%;
    font-size: 28rem;
    z-index: 10000;
    pointer-events: none;
    text-align: center;
    color: $red-15;
}

h4.faded-title {
    font-weight: 500;
    font-size: 1.25rem;
    padding-right: 2.6rem;
    margin: 0.2rem 0;
    white-space: pre;
    letter-spacing: -0.04rem;
    text-transform: uppercase;
    opacity: 0.5;
    font-family: $slim;
}
a,
.clickable {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dashed;
    border-color: $black-25;
    cursor: pointer;
}
a:hover,
.clickable:hover {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid;
}
a.white,
.clickable.white,
a.white:hover,
.clickable.white:hover {
    border-color: $white-25;
}

button,
select,
.bttn {
    font-family: $full;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    word-spacing: 0.2rem;
    text-transform: uppercase;
    padding: 0.25rem 0.75rem;
    padding-top: 0.4rem;
    color: $black-75;
    white-space: nowrap;
    border-radius: 0;
    &.white {
        color: $white-75;
    }
    &:focus {
        outline: none;
        box-shadow: 0 0.3rem 0 $blue-50;
        transition: all 0.3s;
    }
    &:hover:not([disabled]) {
        cursor: pointer;
    }
}
button,
.dropdown,
.bttn {
    height: 2.6rem;
    box-shadow: 0 0.3rem 0 $black-05;
    background-color: $white-75;
    transition: all 0.3s;
    &.ng-leave,
    &.ng-enter {
        transition: none;
    }
    &:hover:not([disabled]) {
        box-shadow: 0 0.3rem 0.3rem $black-25;
        background-color: $white;
    }
}
button.normal {
    background-color: $blue-05 !important;
    color: $black-75 !important;
    &:hover:not([disabled]) {
        background-color: $white !important;
    }
}
.tag {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: $black-50;
    border: 1px solid $black-25;
    padding: 0.2rem;
    margin-left: 0.5rem;

    &.red {
        color: $red;
        border: 1px solid $red-75;
    }
}

select {
    border: none;
    box-shadow: none;
    background: transparent;
    height: 100%;
    width: 100%;
    outline: none;
    padding-right: 2.6rem;
    -moz-appearance: none;
    &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
    }
    -webkit-appearance: none;
    &:focus {
        border-color: inherit;
    }
}
.dropdown {
    position: relative;
    &:after {
        content: ' ';
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
        right: 10px;
        bottom: 0;
        margin: auto;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: $black-75 transparent transparent transparent;
        pointer-events: none;
    }
    &.disabled {
        border: 1px solid $black-50;
        color: $black-75;
        opacity: 0.25;
        background-color: inherit;
        select:hover {
            cursor: default;
        }
    }
}

//select {&:open {color: red;}};
//
//ui-select-container, ui-select-search {
//  @extend .bttn;
//}

p {
    font-family: $full;
    font-weight: 300;
    font-size: 1.4rem;
    letter-spacing: -0.025rem;
    color: #333;
}

// interpretation-button button { height: 100%; } // fixes a browser quirk - edit, seems to have gone away with some other changes
.button ~ .button,
a ~ button,
button ~ button,
button ~ interpretation-button,
checkable-button ~ checkable-button,
checkable-button ~ button,
confirm-button ~ confirm-button,
confirm-button ~ button,
.dropdown ~ button {
    margin-left: 1.3rem;
}
button {
    outline: none;
    border: 1px solid Transparent;
    &:disabled {
        border: 1px solid $black-50;
        box-shadow: none;
        color: $black-75;
        opacity: 0.25;
        background-color: inherit;
        &:hover {
            cursor: default;
        }
    }
    // We use svg in buttons for significantly more control over spacing/color/boldness, and to not rely on UTF8 chars in our markup.
    // These are awesome and extremely small: https://github.com/danklammer/bytesize-icons
}
.buttonmark {
    width: 1.5rem;
    height: 0.8rem;
    stroke-width: 14%;
}

%button-status {
    width: 0.6rem;
    height: 0.6rem;
    margin-left: 0.3rem;
    margin-right: -0.4rem;
}
.button-status-green {
    @extend %button-status;
    fill: $green-75;
}
.button-status-red {
    @extend %button-status;
    fill: $red-75;
}

.max-width {
    width: 100%;
}

// APP-WIDE STYLE

// Base layout
.app {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    //
    // Grid items
    //

    // Global
    .main-navbar {
        grid-area: navbar;
    }
    .main-navbar-secondary {
        grid-area: navbar-secondary;
    }
    .main-content {
        grid-area: content;
        overflow-y: auto;
    }

    // Workflow specific
    .main-workflow-loading {
        grid-area: workflow-loading;
        .loading {
            height: 80vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .loading-animation {
                max-width: 20rem;
            }
            .loading-text {
                font-family: $slim;
                font-size: 2.8rem;
                font-weight: 600;
                letter-spacing: 0.075rem;
                text-transform: uppercase;
                color: $black-25;
            }
        }
    }
    .main-allele-sidebar {
        grid-area: allele-sidebar;
        overflow: auto;
        width: 100%;
        border-right: 1px dotted $blue-25;

        // Workaround Firefox adding scrollbar to width
        @supports (-moz-appearance: none) {
            margin-right: 2rem;
        }
        // Thin, blue scrollbar in Chrome
        &::-webkit-scrollbar {
            width: 0.8rem;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $blue-25;
        }
        &:hover::-webkit-scrollbar-thumb {
            background-color: $blue-50;
        }
    }

    // Overview specific
    .main-overview-sidebar {
        grid-area: overview-sidebar;
    }

    //
    // Grid layouts
    //
    .wrapper-workflow {
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-columns: max-content 1fr;
        grid-template-rows: auto auto 1fr;
        grid-template-areas:
            'navbar navbar'
            'navbar-secondary navbar-secondary'
            'allele-sidebar content';

        &.workflow-loading {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto 1fr;
            grid-template-areas:
                'navbar'
                'navbar-secondary'
                'workflow-loading';
        }
    }

    .wrapper-overview {
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-columns: 4rem 1fr;
        grid-template-rows: auto auto 1fr;
        grid-template-areas:
            'navbar navbar'
            'navbar-secondary navbar-secondary'
            'overview-sidebar content';
    }

    .wrapper-dashboard {
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
        grid-template-areas:
            'navbar'
            'navbar-secondary'
            'content';
    }

    .wrapper-login {
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            'navbar'
            'content';
    }
}

.navbar-secondary {
    display: flex;
    background-color: $blue;
    align-items: center;
    justify-content: space-between;
    background-color: $blue-50-on-white;
    height: $nav-bar-secondary-height;
    padding: 0 1.3rem;
    section {
        display: flex;
        .dropdown {
            margin-left: 1.4rem;
        }
    }

    // Invert color of active button since navbar has opposite color scheme.
    .bttn-set {
        label.bttn {
            background-color: $white-75;
            color: $black-75;
            &.active {
                background-color: $blue-75;
                color: $white;
            }
        }
    }
}

.navbar-bottom {
    flex-direction: column;
    z-index: 100;
    background-color: $blue-25-on-white;
    justify-content: space-between;
    width: 100%;
    padding-right: 1.3rem;
    padding-left: 1.3rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    section {
        margin-top: -0.05rem;
        display: flex;
        width: 100%;
        justify-content: flex-end;
        height: $nav-bar-bottom-buttons-height;
        .dropdown {
            margin-left: 1.4rem;
        }
    }
    article {
        display: flex;
        width: 100%;
        justify-content: space-between;
        height: $allelebar-row-height;
    }
}

.overview-filter {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    .filter-input {
        width: 18rem;
        margin-right: 3rem;
    }

    .filter-date {
        width: 16rem;
    }

    .filter-technology,
    .filter-priority {
        margin-left: 3rem;
    }

    .filter-clear {
        margin-left: 3rem;
    }
}

.interpretation-content {
    padding: 2rem;
}

.overview-content,
.login-content {
    padding: 2rem 4rem;
}

.overview-sidenavbar {
    height: 100%;
    color: $white-75;
    background-color: $blue-50;
    font-family: $slim;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    .item-row {
        width: 100%;
        transform: rotate(90deg);
        display: flex;
        a {
            border: 0;
        }
        .item {
            transform: rotate(180deg);
            font-size: 2rem;
            padding-left: 3rem;
            padding-right: 3rem;
            line-height: 4rem;
            &.active {
                background-color: $blue-25;
            }
            &:hover {
                background-color: $blue-25;
                color: $white;
                cursor: pointer;
            }
        }
    }
}

.logout-btn {
    margin-left: auto;
}

.dashboard-content {
    padding: 2rem 4rem;
    display: flex;
    .full-title {
        padding-left: 1.2rem;
        font-size: 1.4rem;
        font-weight: 300;
    }
    .profile {
        flex: 1;
        justify-content: space-between;
        flex-flow: row wrap;
        align-items: stretch;
        align-content: stretch;
        width: 32%;
        border: solid white 3px;
        background-color: $green-05;
        height: 100%;

        .sb-title-container {
            background-color: $green-25;
        }
    }
}

.full-width {
    width: 100%;
}
.nowrap {
    white-space: nowrap;
}

.no-alleles,
.no-results {
    height: calc(100vh - 19rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.no-alleles {
    h2 {
        font-family: $slim;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 0.075rem;
        text-transform: uppercase;
        color: $black-50;
    }
    h4 {
        font-family: $slim;
        font-size: 1.8rem;
        font-weight: 600;
        letter-spacing: 0.075rem;
        text-transform: uppercase;
        color: $black-25;
    }
}

.hero {
    position: static;
    right: 50%;
    top: 0.15rem;
    z-index: 1501;
    color: black;
    cursor: pointer;
    h1 {
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 600;
        display: flex;
        align-items: center;
        line-height: 4rem;
        transition: all 1s;
        opacity: 0.25;
    }
    h1:hover {
        transform: rotateY(180deg);
        transform-origin: 9rem;
        transform-style: preserve-3d;
        transition: all 1s, transform-origin 0s;
        color: white;
        opacity: 0.75;
    }
    h1:hover #e {
        transform: rotateY(180deg);
    }
    h1:hover #les {
        visibility: visible;
        opacity: 1;
    }
    #e,
    #a,
    #les {
        font-size: 3.2rem;
        transition: all 1s;
    }
    #les {
        transform: rotateY(180deg);
        visibility: hidden;
        opacity: 0;
    }
}

nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1000;

    .top {
        .right {
            display: flex;
            .link {
                padding-left: 8rem;
            }
        }
        background-color: $blue;
        color: white;
        padding: 0.7rem 1.3rem;
        height: 4.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .broadcast {
        background-color: $blue-75-on-white;
        min-height: 4.5rem;
        padding-left: 2rem;
        padding-right: 2rem;

        li.message {
            .date {
                color: $white-75;
                padding-right: 1rem;
            }
            font-weight: 600;
            line-height: 4.5rem;
            color: $white-95;
            font-family: $slim;
            text-transform: uppercase;
            font-size: 1.5rem;
            list-style: none;
        }
    }
}

// Workflow specific
workflow-buttons {
    margin-left: 1.4rem;
}
.workflow-options {
    display: flex;
    .bttn-set {
        margin-right: 2rem;
    }
}

.allele-warning section {
    .titlebar,
    .titlebar > .sb-title-container,
    .sb-container {
        background-color: $red-95;
    }
    .titlebar > .sb-title-container {
        width: 100%;
    }
    .title,
    .icon,
    .sb-container {
        color: white;
        font-weight: 800;
    }
    p,
    h5 {
        color: white;
        font-family: $slim;
        font-size: 1.6rem;
        font-weight: 600;
        letter-spacing: 0.05rem;
    }
    .subtitle {
        color: $white-50;
    }
    .sb-body {
        animation: none !important;
        padding-top: 0.5rem !important;
        max-height: 25vh;
        overflow-x: hidden;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 10px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $white-50;
        }
        &:hover::-webkit-scrollbar-thumb {
            background-color: $white-75;
        }
    }
}

allelebar {
    width: 100%;
    .genotype-display {
        &:not(:last-child) {
            border-right: 1px $black-25 dashed;
            padding-right: 0.6rem;
        }
        padding-left: 0.6rem;
    }
    > table {
        width: 100%;
        * tr {
            height: $allelebar-row-height;
            > td {
                text-align: center;
            }
            > td:first-child {
                text-align: left;
            }
            > td:last-child {
                text-align: right;
            }
        }
    }
}

.upload-button {
    @extend button;
    margin-left: 1.2rem;
}

.search-box {
    margin-left: auto;
    margin-right: 1rem;
    input {
        padding: 0.25rem 0.75rem;
        transition: all 0.3s;
    }
    input:focus {
        background-color: $white-75;
    }
    input:hover {
        background-color: $white-25;
    }
    input:focus:hover {
        background-color: $white-75;
    }
}

nav.warning {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $white-95;
    background-color: $red-95;
    padding: 1.3rem;
    h2 {
        font-weight: 400;
        font-size: 1.4rem;
        color: $white-75;
    }
    h3 {
        font-weight: 400;
        font-size: 1.4rem;
    }
    h4 {
        font-weight: 400;
        font-size: 1.2rem;
        padding-left: 1rem;
    }
}

.search-module .ng-enter {
    animation: 1s fade-in;
}
.search-module {
    font-size: 1.3rem;
    width: 100%;
    position: relative;
    margin-bottom: 3.9rem;
    h4.section-header {
        @extend .sb-notification;
        font-family: $slim;
        color: $blue-75;
        margin-top: 2rem;
        margin-bottom: 0;
        font-weight: 600;
        font-size: 1.3rem;
    }
    h4.results-limit-header {
        @extend .sb-notification;
        font-family: $slim;
        color: $black-50;
        margin-top: 0;
        margin-bottom: 1rem;
        font-weight: 600;
        font-size: 1.25rem;
    }
    .element {
        margin: 1.3rem 0;
        margin-left: 2.3rem;
        &-title {
            @extend .full-title;
            margin-bottom: 0.7rem;
            color: $black-50;
        }
        &-item {
            @extend .line-wrapper;
            padding: 0.35rem 2.3rem;
            margin-left: 0.3rem;
            border-left: 1px dotted $black-25;
            h4 {
                @extend .slim;
                color: $black-75;
                font-size: 1.4rem;
                transition: all 0.3s;
            }
            h4 i {
                font-size: 1.25rem;
                opacity: 1;
            }
            h4 i,
            h4 b {
                margin-right: 2.6rem;
            }
        }
        &-item:hover h4 {
            color: $black;
            cursor: pointer;
        }
    }
    .search-option {
        .bttn-set {
            flex-wrap: nowrap;
        }
        width: 30rem;
    }
    .gene-warning {
        min-height: 2rem;
        line-height: 2rem;
        color: $red;
        padding-top: 0.2rem;
    }
    .no-results {
        height: auto;
        padding-top: 3.9rem;
        padding-bottom: 1.3rem;
    }
}

.allele-sidebar-list {
    section.enabled,
    section.disabled {
        flex-basis: auto;
    }
    section > div:first-child {
        margin-top: 0.5rem;
    }
    section > div:last-child {
        margin-bottom: 2rem;
    }
    h4 {
        font-family: $slim;
        font-weight: 600;
        margin: 0;
        font-size: 1.4rem;
        display: flex;
        justify-content: space-between;
    }
    h4.section-title {
        @extend h4.section-title;
        color: $blue-50;
        margin: 0.3rem 0;
    }
    .variant {
        width: 100%;
        padding-left: 0.7rem;
        height: 2.6rem;
        line-height: 2.6rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .variant span {
        width: 13rem;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-left: auto;
    }
    i {
        font-weight: 400;
        font-style: normal;
        font-size: 1.25rem;
        margin-right: 1.3rem;
        flex-basis: 10rem;
    }
    b {
        font-weight: 700;
        color: $black-75;
        padding: 0 1.3rem;
    }
    .nav-table {
        display: table;
        border-collapse: collapse;
    }
    .nav-row {
        display: table-row;
        align-items: center;
        color: $black-60;
        background-color: inherit;
        font-family: $slim;
        font-size: 1.4rem;
        cursor: pointer;
        transition: all 0.3s ease-in;
        &.ng-leave {
            transition: none;
        }
        &.top {
            border-bottom: 1px solid $black-10;
            cursor: auto;
            &:hover {
                font-weight: 600;
                color: $black-50;
            }
            .cell {
                font-weight: 600;
                margin: 0.2rem;
                &:hover {
                    color: $black-75;
                }
            }
        }
        &.multiple {
            background-color: $blue-10;
        }
        &.technical {
            color: $black-25;
        }
        &.spacer {
            height: 0.2rem;
        }
        .cell {
            display: table-cell;
            white-space: nowrap;
            vertical-align: middle;
            font-weight: 600;
            padding: 0 0.3rem;
            text-overflow: ellipsis;
            overflow: hidden;
            &.sample-type {
                min-width: 3rem;
                width: 3rem;
                font-weight: 400;
                font-style: normal;
                font-size: 1.25rem;
                margin-right: 1.3rem;
            }
            &.inheritance {
                min-width: 6rem;
                width: 6rem;
                max-width: 4rem;
                font-weight: 400;
                font-style: normal;
                font-size: 1.25rem;
                margin-right: 1.3rem;
            }
            &.gene {
                min-width: 6rem;
                width: 6rem;
                max-width: 6rem;
                text-overflow: ellipsis;
                overflow: hidden;
                font-weight: 400;
                font-style: normal;
                font-size: 1.25rem;
                margin-right: 1.3rem;
            }
            &.hgvsc {
                min-width: 10rem;
                width: 10rem;
                max-width: 10rem;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            &.consequence {
                min-width: 10rem;
                width: 10rem;
                max-width: 10rem;
                &.hit {
                    color: $red-75;
                }
            }
            &.classification {
                min-width: 5.5rem;
                width: 5.5rem;
                text-align: center;
                transition: background-color 0.4s;
                cursor: pointer;
                padding: 0;
                &.reviewed,
                &.finalized {
                    color: $white;
                    .class-amcg-container .classification-container .existing-classification {
                        color: $white-50;
                    }
                }
                &.reviewed {
                    background-color: $blue-75;
                }
                &.finalized {
                    background-color: $blue;
                }
                .class-amcg-container {
                    display: flex;
                    flex-direction: row;
                    .classification-container {
                        margin-top: 0.2rem;
                        margin-left: 0.6rem;
                        display: flex;
                        flex: 1;
                        .existing-classification {
                            width: 1.3rem;
                            color: $black-25;
                        }
                        .current-classification {
                            width: 1.3rem;
                        }
                        .arrow-classification {
                            width: 1.3rem;
                        }
                    }
                    .acmg-indicators-container {
                        display: flex;
                        flex-direction: column;
                        min-height: 2.5rem;
                        .acmg-indicator {
                            min-width: 0.6rem;
                            max-height: 50%;
                            flex: 1;
                            @each $name, $color in $acmg-map {
                                &.#{$name} {
                                    background-color: hsla(
                                        hue($color),
                                        saturation($color),
                                        lightness($color),
                                        0.7
                                    );
                                }
                            }
                        }
                    }
                }
            }
            &.tab {
                max-width: 0.5rem;
                width: 0.5rem;
                padding: 0;
                min-width: 0.5rem;
                height: 2.6rem;
            }
            &.qual {
                min-width: 6rem;
                text-align: center;
            }
            &.dp {
                min-width: 5rem;
                text-align: center;
            }
            &.ratio {
                min-width: 6rem;
                text-align: center;
            }
            &.hi-freq {
                min-width: 8rem;
                text-align: center;
            }
            &.hi-count {
                min-width: 8rem;
                text-align: center;
            }
            &.external {
                min-width: 10.5rem;
                text-align: center;
            }
            &.evaluation {
                min-width: 30rem;
                width: 30rem;
                max-width: 30rem;
                &.narrow {
                    min-width: 12rem;
                    width: 12rem;
                    max-width: 12rem;
                }
                .wysiwygeditor {
                    max-height: 4.7rem;
                    overflow: auto;
                }
            }

            &.quick-classification {
                padding-left: 0;
                padding-right: 0;
                button {
                    padding-left: 1rem;
                    padding-right: 1rem;
                }
                button ~ button {
                    margin-left: 0.5rem;
                }
                @each $name, $color in $acmg-map {
                    button.quick-acmg.#{$name} {
                        border: 0;
                        margin: 0;
                        background-color: hsla(
                            hue($color),
                            saturation($color),
                            lightness($color),
                            map-get($acmg-opacity, $name)
                        );
                        &:hover {
                            background-color: hsla(
                                hue($color),
                                saturation($color),
                                lightness($color),
                                map-get($acmg-opacity, $name) + 0.2
                            );
                        }
                        &.added {
                            background-color: hsla(
                                hue($color),
                                saturation($color),
                                lightness($color),
                                map-get($acmg-opacity, $name) + 0.3
                            );
                        }
                    }
                }
            }

            @mixin indicator {
                width: 2rem;
                height: 1.8rem;
                line-height: 1.8rem;
                margin-left: -1px;
            }

            @mixin indicator-hit {
                width: 100%;
                display: flex;
                align-content: center;
                justify-content: center;
                border: 1px solid $black-50;
            }

            $ind-width: 0.4rem;
            &.indicators {
                display: flex;
                height: 2.5rem;
                align-items: center;
                justify-content: center;

                .warning {
                    @include indicator;
                    font-weight: 700;
                    .hit {
                        @include indicator-hit;
                        border-color: lighten($red, 15%);
                        color: lighten($red, 15%);
                    }
                }

                .segregation {
                    @include indicator;
                    .hit {
                        @include indicator-hit;
                        border-color: lighten($purple-75, 15%);
                        color: lighten($purple-75, 15%);
                    }
                }

                .hom {
                    @include indicator;
                    .hit {
                        @include indicator-hit;
                        border-color: lighten($yellow, 15%);
                        color: lighten($yellow, 15%);
                        font-weight: 900;
                    }
                }

                .low-qual {
                    @include indicator;
                    .hit {
                        @include indicator-hit;
                        border-color: lighten($black-50, 15%);
                        color: lighten($black-50, 15%);
                    }
                }
                .technical {
                    @include indicator;
                    .hit {
                        @include indicator-hit;
                        border-color: lighten($red, 5%);
                        background-color: $red-75;
                        color: $white-95;
                    }
                }
                .verified {
                    @include indicator;
                    .hit {
                        @include indicator-hit;
                        border-color: lighten($green, 5%);
                        background-color: lighten($green, 10%);
                        color: $white-95;
                    }
                }
                .important-source {
                    @include indicator;
                    .hit {
                        @include indicator-hit;
                        border-color: lighten($green-50, 5%);
                        color: lighten($green-50, 5%);
                    }
                }

                .top {
                    @include indicator;
                    .hit {
                        @include indicator-hit;
                        border: none;
                        color: $black-50;
                        &:hover {
                            color: $black-75;
                        }
                    }
                }
            }
        }

        &.togglable .cell {
            &.tab {
                align-items: center;
                text-align: center;
                justify-content: center;
                max-width: 2.6rem;
                width: 2.6rem;
                min-width: 2.6rem;
                background-color: $black-50;
                cursor: pointer;
            }
            &.consequence {
                max-width: 6.8rem;
            } // Steal some width, give it to toggle button
        }
        &.toggled {
            color: $blue;
            .cell.tab {
                background-color: $blue;
            }
        }

        &.disabled {
            color: $black-25;
        }
        &:hover {
            color: $black-75;
        }
        &:hover .tab {
            background-color: $blue-50;
        }
        &.active:not(.toggled):hover {
            cursor: default;
        }
        &.active,
        &.active:hover {
            color: $blue;
            background-color: $blue-25;
        }
        &.active .tab,
        &.active:hover .tab {
            background-color: $blue;
        }
        .added h5 {
            padding: 0;
            margin: 0;
            font-size: 1.3rem;
            font-weight: 600;
            color: white;
        }
        &.active.toggled {
            &:hover .tab.togglable {
                background-color: $black-75;
            }
        }
    }
}
.sidebar .ng-enter {
    opacity: 0;
    transition: all 0.8s ease-in-out;
}
.sidebar .ng-enter-active {
    opacity: 1;
}
.sidebar {
    margin-left: 1.3rem;
    padding-bottom: 4.5rem;

    allele-sidebar-list:first-of-type > .allele-sidebar-list {
        padding-top: 1rem;
    }
    .controls {
        position: sticky;
        top: 0;
        background: white;
        padding-top: 2rem;
        z-index: 1;

        .control-comment {
            padding-right: 1.5rem;
            max-width: 49rem;
            .wysiwygeditor {
                max-height: 13rem;
                overflow: auto;
            }
            margin-bottom: 1rem;
        }
        > .control-section {
            display: flex;
            padding-bottom: 0.5rem;
            > button,
            .button {
                margin-left: 0;
                margin-right: 0.5rem;
            }
        }
        & .dropdown {
            &.filter-config-selection {
                max-width: 14.5rem;
                width: 14.5rem;
                & > select {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            > select {
                color: white;
                background-color: $blue-50;
            }
            &:after {
                border-color: white transparent transparent transparent;
            }
        }
        .classification-type-controls {
            margin-left: 1rem;
        }
        .add-excluded-button {
            margin-left: 0.5rem;
        }
    }
    .spacer {
        height: 2rem;
    }
}

@mixin info-cell {
    font-weight: 500;
    font-size: 1.4rem;
    min-width: 8rem;
    color: $black-75;
    padding-bottom: 1.4rem;
    padding-right: 2.5rem;
}

.info-table-header {
    @include info-cell;
    font-size: 1.4rem;
    color: $black-50;
    font-weight: 600;
    //border-bottom: 1px solid;
    padding-top: 1rem;
}

.info-gene {
    @include info-cell;
    color: $black-50;
    font-weight: 400;
}

.info-hgvsc {
    @include info-cell;
}

.info-transcript {
    @include info-cell;
    font-weight: 400;
}

#toast-container {
    position: fixed;
    z-index: 10000;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    max-height: 20rem;
    overflow-y: auto;
    overflow-x: hidden;
    & > :hover {
        cursor: pointer;
    }
    .toast {
        position: relative;
        overflow: hidden;
        padding: 1.3rem 3.9rem 1.3rem 2.6rem;
        width: 100vw;
        margin: 0 auto;
        background-position: 15px center;
        background-repeat: no-repeat;
        color: hsla;
        opacity: 0.99;
    }
    .toast {
        background-color: #030303;
    }
    .toast:before {
        color: white;
        font-size: 1.1rem;
        font-family: $full;
        letter-spacing: 0.1rem;
    }
    .toast-success {
        background-color: $green;
        &:before {
            content: 'SUCCESS';
        }
    }
    .toast-error {
        background-color: $red;
        &:before {
            content: 'ERROR';
        }
    }
    .toast-info {
        background-color: $purple-75;
        &:before {
            content: 'INFORMATION';
        }
    }
    .toast-warning {
        background-color: $red-75;
        &:before {
            content: 'WARNING';
        }
    }
    .toast-message {
        word-wrap: break-word;
        font-size: 1.7rem;
        font-family: $slim;
        font-weight: 600;
        text-transform: uppercase;
        color: white;
        padding-top: 0.3rem;
    }
    .toast-message-collision {
        word-wrap: break-word;
        font-size: 1.7rem;
        font-family: $slim;
        font-weight: 600;
        color: white;
        padding-top: 0.3rem;
    }
    .toast.ng-enter {
        max-height: 0px;
        transition: all 0.6s ease-in-out;
    }
    .toast.ng-enter.ng-enter-active {
        max-height: 1000px;
    }
    .toast.ng-leave {
        max-height: 1000px;
        transition: all 0.6s ease-in-out;
    }
    .toast.ng-leave.ng-leave-active {
        max-height: 0px;
    }
}

// all initial styling from toastr, probably needs fixed
button.toast-close-button {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
.toast-title {
    font-weight: bold;
}
.toast-message a,
.toast-message label {
    color: $white-75;
}
.toast-message a:hover {
    color: $white;
    text-decoration: none;
}
.toast-close-button {
    position: relative;
    right: -0.3em;
    top: -0.3em;
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: $white-75;
    -webkit-text-shadow: 0 1px 0 #ffffff;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.8;
}
.toast-close-button:hover,
.toast-close-button:focus {
    color: $white;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
}

.spacer {
    height: 4rem;
}
.spacer2 {
    height: 2rem;
}
.spacer-horizontal {
    width: 4rem;
}

.genepanel {
    @extend .dropdown;
    //width: 200px !important;
    width: 100% !important;
}

.analysis {
    @extend .dropdown;
    //width: 300px !important;
    width: 100%;
    max-width: 300px !important;
}

.selector-container {
    display: block;
    position: relative;
}
.selector-container,
.selector-container * input {
    padding: 0;
    text-transform: uppercase;
    line-height: normal;
    height: 2.6rem !important;
}
.selector-input {
    display: block;
    height: 2.6rem;
    padding-left: 0.7rem;
    padding-right: 2.6rem;
    overflow: hidden;
    font-weight: inherit;
}

.selector-container .selector-values {
    list-style: none;
    margin: unset;
}
.selector-container * input {
    outline: none;
    background: none !important;
    border-color: transparent !important;
    width: 2px;
    display: inline-block;
    cursor: pointer;
}
.selector-container.open input,
.selector-container.has-value input {
    cursor: text;
}
.selector-container.disabled {
    opacity: 0.6;
}

/* Single */
.selector-container.open .selector-input {
    background: none;
    border-radius: 0px 0px 0 0;
}

.selector-container * input {
    display: block;
    width: 100% !important;
}

.selector-container .selector-values {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    max-width: calc(100% - 3.5rem);
}
.selector-container .selector-values > li,
.selector-container .selector-values > li > div {
    display: block;
    width: 100% !important;
    padding-top: 0.25rem;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    word-spacing: 0.2rem;
}

/* Helper */
.selector-helper {
    position: absolute;
    display: inline-block;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
}

/* Shadow */
.selector-input input,
.selector-shadow {
    padding-left: 0 !important;
    padding-right: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    max-width: 100% !important;
}
.selector-shadow {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    white-space: pre;
    margin: 0;
}

/* Dropdown */
.selector-dropdown {
    display: none;
    list-style: none;
    padding-top: 0;
    margin: unset !important;
    position: absolute;
    background: $white;
    border: 1px solid $black-25;
    max-height: 15.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1000;
    width: 100%;

    .selector-optgroup {
        display: none !important; // Groups in selector are badly broken
    }
}
.selector-dropdown > li {
    padding: 0.2em 0.7em;
    overflow: hidden;
    cursor: pointer;
    font-size: 1.2rem;
}

.selector-dropdown > .selector-option.active {
    background: $blue-05;
}
.selector-container.open .selector-dropdown {
    display: block;
}

// CUSTOM
.selector-container.has-value * input {
    opacity: 0;
}
.search-options {
    width: 28vh;
}

.interpretation-log {
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: $full;
    font-size: 1.4rem;
    font-weight: 400;
    display: flex;
    height: 100%;
    flex-direction: column;
    h4 {
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 0.5rem;
        margin-right: 1rem;
    }
    .review-comment {
        display: flex;
        padding-top: 1rem;
        input {
            width: 30rem;
        }
        button {
            margin-left: 1rem;
        }
    }
    .controls {
        display: flex;
        padding-top: 3rem;
        padding-bottom: 2rem;
        margin-bottom: 1rem;
        font-size: 1.4rem;
        .dropdown {
            background-color: $blue-50;
            &:after {
                border-color: $white-75 transparent transparent transparent;
            }
            select {
                color: white;
                option {
                    background-color: $blue-50;
                }
                &[disabled] {
                    background-color: $blue-25;
                    opacity: 1;
                }
            }
        }
        button {
            margin-right: 1rem;
        }
    }
    .messages-options {
        display: flex;
        justify-content: space-between;
    }
    .messages {
        flex-grow: 1;
        margin-top: 1rem;
        padding: 1rem;
        background-color: $blue-05;
        overflow-y: scroll;
        overflow-x: auto;
        .message-item {
            margin: 0.25rem 1rem 0.25rem 1rem;
            padding: 0.5rem 1.5rem 0.5rem 1.5rem;
            &.editable {
                border-left: 5px solid $black-05;
                .heading {
                    height: 2rem;
                }
                &.normal-mode:hover {
                    border-left: 5px solid $blue-50;
                }
                &.edit-mode {
                    border-left: 5px solid $blue-50;
                }
                &.delete-mode {
                    border-left: 5px solid $red-75;
                }
                &:hover {
                    .heading {
                        .heading-controls {
                            display: block;
                        }
                    }
                }
            }
            &.normal-mode {
                .heading-controls {
                    display: none;
                }
            }
            .heading {
                display: flex;
                flex-direction: row;
                .heading-info {
                    flex-grow: 1;
                    .name {
                        font-family: $full;
                        color: $blue-75;
                        font-weight: 600;
                        font-size: 1.2rem;
                        text-transform: uppercase;
                        letter-spacing: 0.075rem;
                        margin-top: 0.35rem;
                    }
                    .time {
                        font-size: 1.2rem;
                        color: $black-75;
                    }
                }
            }
            .message {
                .wysiwygeditor {
                    border: 0;
                }
                .wysiwygplaceholder {
                    border: 0;
                }
            }
            .event {
                @extend .slim;
                text-transform: uppercase;
                color: $red-75;
            }
            .event-text {
                @extend .slim;
                text-transform: uppercase;
                color: $black-75;
            }
            .event-time {
                color: $black-75;
            }
            .hr-text {
                line-height: 1em;
                position: relative;
                outline: 0;
                border: 0;
                color: black;
                text-align: center;
                height: 1.5em;
                opacity: 0.5;
                &:before {
                    content: '';
                    // use the linear-gradient for the fading effect
                    // use a solid background color for a solid bar
                    background: linear-gradient(to right, $black-50, $black-75, $black-50);
                    position: absolute;
                    left: 0;
                    top: 50%;
                    width: 100%;
                    height: 1px;
                }
                &:after {
                    content: attr(data-content);
                    position: relative;
                    display: inline-block;
                    color: black;

                    padding: 0 0.5em;
                    line-height: 1.5em;
                    // this is really the only tricky part, you need to specify the background color of the container element...
                    color: #818078;
                    background-color: #fcfcfa;
                }
            }
        }
    }
    .compose {
        padding-top: 1rem;
        button {
            margin-top: 1rem;
        }
    }
}

.gene-information {
    .gene-information-title {
        margin-top: 1.5rem;
    }
    .comment-container {
        display: flex;
        padding: 0.5rem;
        flex-direction: column;

        .comment-editor {
        }
        .comment-controls {
            display: flex;
            width: auto;
            margin-top: 0.5rem;
            justify-content: flex-end;
        }
    }
}

.new-fade {
    opacity: 0;
}

.new-fade:not(:empty) {
    animation: fadein 0.5s;
    opacity: 1;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.visualization {
    .bttn-set > label {
        margin-right: 0.2rem;
    }
    .section-title {
        color: $blue-50;
        padding-top: 0.5rem;
    }

    .igv-viewport-container {
        user-select: none;
    }

    .igv-popover-table * a {
        display: none;
    }

    // Adjust down the extremely high z-indices
    // so it doesn't scroll over our layout
    .igv-track-label {
        z-index: 50;
    }

    .igv-track-manipulation-handle {
        z-index: 99;
    }
}

.import {
    .selection-warning {
        height: 1.2rem;
        font-size: 1rem;
        color: $red-95;
        font-weight: 700;
    }

    importsingle > contentwrapper {
        margin-top: 1.6rem;
    }

    @keyframes fade-in-import-edit {
        0% {
            transform: scale(0);
            transform-origin: top left;
            opacity: 0;
        }
        100% {
            transform: scale(1);
            transform-origin: top left;
        }
    }

    .import-edit {
        background-color: $green-10;
        padding: 1rem;
        margin-top: 1rem;
        &.ng-enter {
            animation: fade-in-import-edit 0.15s;
            animation-timing-function: ease-in;
        }
    }

    .import-summary {
        width: 50%;
        > section > div > div {
            display: flex;
            > span {
                font-size: 1.4rem;
                &.title {
                    min-width: 15rem;
                    text-transform: uppercase !important;
                    font-weight: 600;
                }
            }
        }
        padding-right: 2rem;
    }

    .user-input-left {
        max-width: 50rem;
    }

    .user-input-middle {
        max-width: 2rem;
    }

    .user-input-right {
        max-width: 70rem;
    }

    .import-selection {
        border-top: 1px dashed $black-10;
        margin-top: 1rem;
        padding-top: 1rem;
        min-height: 8rem;
    }

    .import-warning {
        background-color: $red;
        margin: 0.5rem;
        padding: 1rem;
        color: $white;
        p {
            color: $white;
        }
    }

    .import-variants {
        * input[type='checkbox'] {
            height: inherit;
        }
    }

    .annotationjobinfo > span {
        overflow-wrap: break-word;
    }

    .annotationjobinfo > pre {
        white-space: pre-wrap;
    }

    .import-all-summary * {
        text-align: center;
        margin-top: 0.3rem;
    }

    .json-pretty {
        display: inline-block;
        text-align: left !important;
        font-size: 0.8rem;
    }
}

.confirm-button-confirm {
    margin-left: 0;
    box-shadow: 0 0.3rem $black-05;
    color: $white-95 !important;

    &.confirm-green {
        background-color: $green-50 !important;
        &:hover {
            background-color: $green-75 !important;
        }
    }
    &.confirm-red {
        background-color: $red-50 !important;
        &:hover {
            background-color: $red-75 !important;
        }
    }
    &.hidden {
        overflow: hidden;
        width: 0;
        padding-left: 0;
        padding-right: 0;
        border-left: 0;
        border-right: 0;
    }
}
