<div
    class="interpretation-content"
    scroll-to
    scroll-on-change="{{ $ctrl.selectedAllele }}"
    scroll-position="top"
>
    <div ng-if="$ctrl.selectedComponent === 'Info'">
        <analysis-info></analysis-info>
    </div>
    <div ng-if="$ctrl.selectedComponent === 'Classification'">
        <div ng-if="$ctrl.selectedClassificationType === 'full'">
            <div class="no-alleles" ng-if="!$ctrl.hasAlleles">
                <h2>No variants to show for analysis.</h2>
                <h4>
                    Either there are no variants in this analysis or they all matched a filter
                    criteria.
                </h4>
            </div>
            <div class="no-alleles" ng-if="$ctrl.hasAlleles && !$ctrl.selectedAllele">
                <h2>Please select variant in sidebar.</h2>
            </div>
            <allele-warning ng-if="$ctrl.hasAlleles"></allele-warning>
            <allele-sectionbox
                section-key="sectionKey"
                ng-if="$ctrl.hasAlleles && $ctrl.selectedAllele"
                ng-repeat="sectionKey in $ctrl.sectionKeys"
            >
            </allele-sectionbox>
        </div>
        <visualization
            ng-if="$ctrl.selectedClassificationType === 'visual'"
            ng-if="$ctrl.hasAlleles"
        >
        </visualization>
    </div>

    <report-card ng-if="$ctrl.selectedComponent === 'Report'"> </report-card>
</div>
