<contentbox class="vardb" boxtitle="Existing" ng-if="$ctrl.allele.allele_assessment">
    <cbbody>
        <section class="button-row">
            <button
                class="blue"
                ng-click="$ctrl.showAlleleAssessmentHistory({alleleId: $ctrl.allele.id})"
            >
                History
            </button>
        </section>

        <allele-assessment
            alleleassessment="$ctrl.allele.allele_assessment"
            allelereport="$ctrl.allele.allele_report"
            summary-only="true"
        ></allele-assessment>
    </cbbody>
</contentbox>
